@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', 'sans-serif';
}

#fascia-superiore {
    height: 36px;
    padding: 5px;
    padding-right: 100px;
}